<!DOCTYPE html>
<html>
<head>
    <title>Base</title>
    <style>
        .success {
            color: green;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1 style='display: flex; justify-content: center; padding-top: 150px;'> Base page! </h1>
</body>
</html>

